{extend name="base"}{block name="title"}写博客--博客之家 发现技术的地方{/block} {block name="content"}
<section>
    <script>
    $(document).ready(function() {
        $('#aa').modal({
            keyboard: false,
            backdrop: "static",
        });
    });
    </script>
    <div id="aa" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">写博客-博客之家 发现技术的地方</h4>
                </div>
                <div class="modal-body" style="text-align: center;">
                    <div class="imgg" style="margin:10px auto">
                      <img src="/taopapa/public/article/edit2.jpg" height="150px" align="center" alt="">
                    </div>
                    <ol>
                      <li>全能文章编辑页面</li>
                      <li>富文本编辑器增加图片拖拽上传功能</li>
                      <li>增加了富文本编辑器的全屏写作功能</li>
                    </ol>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal" id="startEdit">开始写博客</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</section>
<div class="container">
  <form enctype="multipart/form-data" action="{:url('article/finishEdit',['author_username'=>session('username','','author')])}" method="post" class="form-horizontal">
    <div class="form-group">
      <label for="inputEmail3" class="col-sm-1 control-label">标题：</label>
      <div class="col-sm-9">
        <input type="text" name="title" class="form-control" id="inputEmail3" placeholder="请把标题写在这里">
      </div>
      <div class="col-sm-2">
        <button type="button" class="btn btn-warning form-control" data-toggle="modal" data-target="#upLogo">发表</button>
      </div>
      <!-- Modal -->
      <div class="modal fade" id="upLogo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">上传博客封面</h4>
            </div>
            <div class="modal-body">
                  <input type="file" name="image" id="img_bool"/><br>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-default" id="img_false">不需要封面并发布</button>
              <button type="submit" class="btn btn-primary" id="img_true">选好封面并发布</button>
              <script>
                $('#img_true').attr('disabled',"disabled");
                $('#img_bool').click(function(){
                    $('#img_true').removeAttr('disabled');
                    $('#img_false').attr('disabled',"disabled");
                });
            </script>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="inputEmail3" class="col-sm-1 control-label">描述：</label>
      <div class="col-sm-11">
        <input type="text" name="description" class="form-control" id="inputEmail3" placeholder="描述">
      </div>
    </div>
    <!-- 文章编辑页面 -->
    <div class="form-group">
        <label for="myEditor" class="col-sm-1 control-label">内容</label>
        <div class="col-sm-11">
            <!--style给定宽度可以影响编辑器的最终宽度-->
            <script id="editor" name="content" type="text/plain"></script>
        </div>
    </div>
  </form>
</div>

{/block}