<header>
	<ul class="nav nav-tabs">
	  <li role="presentation"><a href="{:url('author/index')}">个人中心</a></li>
	  <li role="presentation"><a href="{:url('author/blog')}">我的博客</a></li>
	  <li role="presentation"><a href="{:url('author/setting')}">帐号设置</a></li>
	  <li role="presentation"><a href="{:url('author/news')}">我的消息</a></li>
	  <li role="presentation"><a href="{:url('author/member')}">我的会员</a></li>
	  <li role="presentation"><a href="{:url('author/photo')}">我的相册</a></li>
	</ul>
</header>
<script>
	var pathname = window.location.pathname + window.location.search;
	$(".nav-tabs li a").each(function() {
	    var href = $(this).attr("href");
	    if (pathname == href) {
	        $(this).parent("li").addClass("active");
	    }
	});
</script>
